.home-element {
    padding: 10px 10px 5px 10px;
}

.home-title {
    font-size: 20px;
    font-weight: bold;
    color: #000044;
}

.home-sub-title {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 9px;
    color: #484848;
    padding-left: 5px;
}

.home-content {
    font-size: 14px;
    margin-top: 4px;
    color: #484848;
    padding-left: 10px;
}

.home-content-small {
    font-size: 12px;
    margin-top: 2px;
    color: #686868;
    padding-left: 10px;
}

.home-content-tiny {
    font-size: 11px;
    margin-top: 3px;
    color: darkgrey;
    padding-left: 10px;
}

.phone {
    background: url('../images/phone.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 15px;
}

.email {
    background: url('../images/email.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.skype {
    background: url('../images/skype.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.website {
    background: url('../images/website.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.resume {
    background: url('../images/resume.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.github {
    background: url('../images/github.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.linked_in {
    background: url('../images/linkedin.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.home-content table tr {
    height: 45px;
}

hr {
    margin-top: 18px;
    border-color: lightgray;
}

.profile_sub_info_small {
    margin-top: 8px;
    font-size: 13px;
    text-align: center;
    color: white;
}