.home-element {
    padding: 10px 10px 5px 10px;
}

.home-title {
    font-size: 20px;
    font-weight: bold;
    color: #000044;
}

.home-sub-title {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 9px;
    color: #484848;
    padding-left: 5px;
}

.home-content {
    font-size: 14px;
    margin-top: 4px;
    color: #484848;
    padding-left: 10px;
}

.home-content-small {
    font-size: 12px;
    margin-top: 2px;
    color: #686868;
    padding-left: 10px;
}

.home-content-tiny {
    font-size: 11px;
    margin-top: 3px;
    color: darkgrey;
    padding-left: 10px;
}

.phone {
    background: url('../images/phone.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 15px;
}

.phone_tiny {
    background: url('../images/phone_tiny.png') no-repeat;
    margin: auto;
    height: 23px;
    width: 11px;
}

.email {
    background: url('../images/email.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.email_tiny {
    background: url('../images/email_tiny.png') no-repeat;
    margin: auto;
    height: 24px;
    width: 24px;
}

.skype {
    background: url('../images/skype.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.skype_tiny {
    background: url('../images/skype_tiny.png') no-repeat;
    margin: auto;
    height: 24px;
    width: 24px;
}

.website {
    background: url('../images/website.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.website_tiny {
    background: url('../images/website_tiny.png') no-repeat;
    margin: auto;
    height: 24px;
    width: 24px;
}

.resume {
    background: url('../images/resume.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.resume_tiny {
    background: url('../images/resume_tiny.png') no-repeat;
    margin: auto;
    height: 24px;
    width: 24px;
}

.github {
    background: url('../images/github.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.github_tiny {
    background: url('../images/github_tiny.png') no-repeat;
    margin: auto;
    height: 24px;
    width: 24px;
}

.linked_in {
    background: url('../images/linkedin.png') no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

.linked_in_tiny {
    background: url('../images/linkedin_tiny.png') no-repeat;
    margin: auto;
    height: 24px;
    width: 24px;
}

.home-content table tr {
    height: 45px;
}

hr {
    margin-top: 18px;
    border-color: lightgray;
}


.profile_name {
    margin-top: 4px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.profile_sub_info {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: white;
}

.col-middle {
    vertical-align:middle;
}

.profile_background {
    background-image: url("../images/black_bck.png");
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.profile-label img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.profile_sub_info_small {
    margin-top: 8px;
    font-size: 13px;
    text-align: center;
    color: white;
}

.profile-img {
    display: block;
    width: 180px !important;
    height: 180px !important;;
}

@media (max-width: 1200px) {
    .profile-img {
        width: 150px !important;;
        height: 150px !important;;
    }

    .profile_name {
        font-size: 19px;
    }

    .profile_sub_info {
        font-size: 13px;
    }

    .profile_sub_info_small {
        font-size: 12px;
    }
}


@media (max-width: 992px) {
    .profile-img {
        width: 120px !important;;
        height: 120px !important;;
    }

    .profile_name {
        font-size: 17px;
    }

    .profile_sub_info {
        font-size: 11px;
    }

    .profile_sub_info_small {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .profile-img {
        width: 90px !important;;
        height: 90px !important;;
    }

    .profile_name {
        font-size: 15px;
    }

    .profile_sub_info {
        font-size: 11px;
    }

    .profile_sub_info_small {
        font-size: 10px;
    }
}

.edit {
    font-size: 12px;
    margin-right: 5px;
    visibility: hidden;
    text-decoration: none !important;
}

.add {
    float: right;
    font-size: 12px;
    margin-right: 5px;
    visibility: hidden;
}

.add a {
    text-decoration: none !important;
}

.home-content-wrapper {
    margin-bottom: 20px;
}

.info-msg {
    font-size: 14px;
    float: right;
}

.info-msg-ref {
    font-size: 14px;
    float: right;
}