<div id="references_panel" class="col-lg-12 col-md-12 col-sm-12">
    <form role="form" method="post">
        <div class="row">
            <div class="form-group col-lg-3 col-md-3 col-sm-3">
                <div class="dropdown">
                    <button class="btn btn-warning button-small dropdown-toggle" style="width:79px; height: 36px; vertical-align: middle;" type="button" data-toggle="dropdown">
                        <div id="degree">
                            <div id="icon_holder"><div class="phone_tiny"></div></div>
                            <span class="caret" style="float: right;"></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="gender">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Phone</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Email</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Skype ID</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GitHub</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LinkedIn</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Homepage</a></li>
                    </ul>
                </div>
            </div>
            <div style="margin-left: -25px;" class="form-group col-lg-9 col-md-9 col-sm-9">
                <input id="ref_in" type="text" name="name" class="form-control" placeholder="512-965-8090">
                <a id="upload_resume_link" class="my_tooltip" style="cursor: pointer; display: none; text-decoration: none;"
                   title="Upload Resume">
                    <i class="fa fa-file-pdf-o fa-2x"></i>
                    &nbsp;
                </a>

                <a id="upload_resume_confirm_link" class="my_tooltip text-success" style="cursor: pointer; text-decoration: none; display: none;"
                   title="Upload">
                    <i class="fa fa-cloud-upload fa-2x"></i>
                    &nbsp;
                </a>

                <a id="upload_resume_cancel_link" class="my_tooltip text-danger" style="cursor: pointer; text-decoration: none; display: none;"
                   title="Cancel">
                    <i class="fa fa-close fa-2x"></i>
                </a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" id="update_ref_btn" class="btn btn-primary"><i class="fa fa-check"></i> Save </button>
                <button onclick="remove_refs_add_panel();" type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>