<div class="modal fade" id="info" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">
                    <div style="font-size: 22px;">
                        Teammate is Powered by <a href="https://developers.google.com/appengine/">Google App Engine<img src="../assets/images/app-engine-logo.png"></a>
                    </div>
                </h3>
            </div>
            <div class="modal-body">
                <h4> Tools and technologies: </h4>
                <table class="display col-md-offset-1 col-md-11" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td><a href="http://jquery.com/">jQuery</a></td>
                        <td><a href="http://www.getpostman.com/">Postman</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://getbootstrap.com/">Twitter Bootstrap</a></td>
                        <td><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://d3js.org/">D3.js</a></td>
                        <td><a href="http://jqueryui.com/">jQuery UI</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.jetbrains.com/pycharm/">PyCharm</a></td>
                        <td><a href="http://brandonjpierce.com/">Pure CSS Minimal Buttons</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://lokeshdhakar.com/projects/lightbox2/">Lightbox</a></td>
                        <td><a href="http://bootswatch.com/">Bootswatch Themes</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://unicorn-ui.com/buttons/builder/">Buttons</a></td>
                        <td><a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.seleniumhq.org/">Selenium</a></td>
                        <td><a href="https://github.com/maxwells/bootstrap-tags">Bootstrap tags</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://mustache.github.io/">Mustache.js</a></td>
                        <td><a href="http://www.texotela.co.uk/code/jquery/numeric/">jQuery Numeric Plugin</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://getfirebug.com/">Firebug</a></td>
                        <td><a href="http://git-scm.com/">git</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="col-md-12"><hr></div>
                <div style="text-align: center;">
                    <div style="font-size: large; margin-bottom: 8px;"> Designed by <a href="http://nimadini.net">Nima Dini</a></div>
                    <small>
                        Advanced Programming Tools - Fall 2014 <br>
                        The University of Texas at Austin <br>
                        Department of Electrical and Computer Engineering </small><br>
                    <div style="margin-top: 16px;">
                        <strong> Special Thanks to <a href="http://users.ece.utexas.edu/~adnan/">Dr. Adnan Aziz</a> </strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK, Thanks!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
