<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nima Dini">
    <title>Dashboard</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/ico">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/buttons.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <script src="../assets/js/jquery-2.1.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            var degree = $('#degree').attr('name');
            var gender = $('#gender').attr('name');
            var availability = $('#availability').attr('name');
            var price = $('#_price_').attr('name');
            if (degree != '')
                $('#degree_label').text(degree);
            if (gender != '')
                $('#gender_label').text(gender);
            if (availability != '')
                $('#availability_label').text(availability);
            if (price != '')
                $('#price_label').text(price);
            $('#about').load('about');
        });
    </script>
</head>
<body>
<div class="wrapper">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">Teammate</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"><i class="fa fa-comment"></i></a></li>
                <li><a href="/home"><i class="glyphicon glyphicon-user"></i> {{ current_user.given_name }}  </a></li>
                <li><a href="/dashboard"><i class="glyphicon glyphicon-th-list"></i> Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group has-feedback">
                            <input type="text" id="search-bar" class="form-control" placeholder="Search for people, projects and skills"/>
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>

                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        {% for user in results %}
            <div class="panel panel-default shine">
                <div class="panel-body nopadding">
                    <div class="row no-gutter">
                        <div class="col-lg-3 col-md-4">
                            <a href="/home?user={{ user.id }}">
                                <img src="{{ user.get_profile_url_mirrored() }}" class="img-responsive img-rounded nopadding displayed" alt="Cover Photo">
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="user_box"  style="overflow: hidden;">
                                <div class="box_title">
                                    <div class="row" style="padding-left: 10px; padding-right: 14px;">
                                        <div class="pull-left"><a href="/home?user={{ user.id }}">{{ user.given_name }} {{ user.surname }}</a></div>
                                        {% if user.location %}
                                            <div class="pull-right" style="font-size: 12px; font-weight: normal; color: #606060;">{{ user.get_location() }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if user.get_highest_edu() %}
                                    <div class="box_sub_title">
                                        <i class="fa fa-graduation-cap"></i> {{ user.get_highest_edu().school }} | {{ user.get_highest_edu().degree }}
                                    </div>
                                {% endif %}
                                {% if user.term %}
                                    {% if user.term.should_know %}
                                        <div class="box_sub_title">
                                            <i class="fa fa-users"></i> You should know:<span class="box_sub_content">{{ user.term.should_know }}</span>
                                        </div>
                                    {% endif %}
                                    {% if user.term.availability or user.term.price %}
                                        <div class="row" style="padding-left: 15px; margin-bottom: 2px;">
                                            {% if user.term.availability %}
                                                <span class="box_sub_title">
                                                    <i class="fa fa-clock-o"></i> Availability:<span class="box_sub_content">{{ user.term.availability }} hours a week</span> |
                                                </span>
                                            {% endif %}
                                            {% if user.term.price %}
                                                <span class="box_sub_title">
                                                    {% if user.term.price == 'negotiable'%}
                                                        <i class="fa fa-money"></i> Price:<span class="box_sub_content">negotiable</span>
                                                    {% else %}
                                                        <i class="fa fa-money"></i> Price:<span class="box_sub_content">${{ user.term.price }} per hour</span>
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                {% endif %}
                                {% if user.has_project() %}
                                    <div class="box_sub_title">
                                        <i class="fa fa-calculator"></i> Projects: |
                                        {% for proj in user.projects %}
                                            {% if proj.link %}
                                                <a href="{{ proj.link }}" target="_blank">{{ proj.title }}</a> |
                                            {% else %}
                                                {{ proj.title }} |
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="user_box_btn">
                                    {% if current_user.id != user.id %}
                                        <a href="{{ user.id }}" name="{{ user.given_name }} {{ user.surname }}" class="button button-rounded button-flat-royal message_btn"><i class="glyphicon glyphicon-envelope"></i> Message</a>
                                    {% endif %}
                                </div>
                                <div class="user_box_navigation">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-default filter">
            <div class="panel-heading">
                <div style="font-size: 14px; font-weight: bold;"><i class="fa fa-filter"></i> Filters</div>
            </div>
            <div class="panel-body nopadding" style="overflow: visible;">
                <table>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <div class="dropdown" id="gender" name="{{ selected_gender }}">
                                <button class="btn btn-info button-small dropdown-toggle" type="button" id="gender" data-toggle="dropdown">
                                    <label id="gender_label" style="font-weight: normal; width: 36px;">Add...</label>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu"  aria-labelledby="gender">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Male</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Female</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Highest Degree</td>
                        <td>
                            <div class="dropdown" id="degree" name="{{ selected_deg }}">
                                <button class="btn btn-info button-small dropdown-toggle" type="button" data-toggle="dropdown">
                                    <label id="degree_label" style="font-weight: normal; width: 36px;">Add...</label>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu"  aria-labelledby="degree">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BS</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BA</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MS</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MA</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PhD</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >Availability <small>(hrs/w)</small></td>
                        <td>
                            <div class="dropdown" id="availability" name="{{ selected_availability }}">
                                <button class="btn btn-info button-small dropdown-toggle" type="button" data-toggle="dropdown">
                                    <label id="availability_label" style="font-weight: normal; width: 36px;">Add...</label>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu"  aria-labelledby="degree">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">< 5</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 - 10</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 - 15</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">15 - 20</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">> 20</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >Price <small>($/hr)</small></td>
                        <td>
                            <div class="dropdown" id="_price_" name="{{ selected_price }}">
                                <button class="btn btn-info button-small dropdown-toggle" type="button" data-toggle="dropdown">
                                    <label id="price_label" style="font-weight: normal; width: 36px;">Add...</label>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu"  aria-labelledby="degree">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">< 5</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5 - 15</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">15 - 30</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30 - 60</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">> 60</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-info filter">
            <div class="panel-heading">
                <div style="font-size: 14px; font-weight: bold;"><i class="fa fa-pie-chart"></i> Distribution </div>
            </div>

            <div class="panel-body">
                <div class="col-lg-3 col-md-2" id="degree_guide" style="padding-top: 15px; margin-left: -20px;"></div>
                <div class="col-lg-9 col-md-10 pull-right" style="margin-top: 5px;" id="chart" ></div>
            </div>
        </div>

        <div class="panel panel-info filter">
            <div class="panel-heading">
                <div style="font-size: 14px; font-weight: bold;"><i class="fa fa-bar-chart"></i> Average Prices </div>
            </div>
            <div class="panel-body">
                <div class="col-lg-12 col-md-12" id="price"></div>
            </div>
        </div>
    </div>
    <div id="msg-dialog" title="New message">
        <form>
            <textarea id="msg-content" class="form-control" rows="8" placeholder="Enter your message here..." style="margin-top: 20px;"></textarea>
            <p style="margin-top: 10px;"><strong>Note:</strong> <span id="msg-note"></span></p>
        </form>
    </div>
    <div id="about"></div>
</div>
<div class="push"></div>
</div>
<footer class="footer">
    <div class="container">
        <p>
            Designed by <a href="http://nimadini.net" target="_blank">Nima Dini</a> -- Last Updated: December 2014
        </p>
        <div>
            <a href="#" data-toggle="modal" data-target="#info">About This Website</a>
        </div>
    </div>
</footer>
</body>
<script src="../assets/js/dashboard/filters.js"></script>
<script src="../assets/js/dashboard/d3.min.js"></script>
<script src="../assets/js/dashboard/Donut3D.js"></script>
<script src="../assets/js/dashboard/d3.tip.v0.6.3.js"></script>
<script src="../assets/js/dashboard/statistics.js"></script>
<script src="../assets/js/message.js"></script>
</html>