<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nima Dini">
    <title>Dashboard</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/buttons.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <script src="../assets/js/jquery-2.1.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            var degree = $('#degree').attr('name');
            if (degree != 'NONE')
                $('#degree_label').text(degree);
            $('#about').load('about');
        });
    </script>
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard">Teammate</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fa fa-bell"></i></a></li>
                    <li><a href="#"><i class="fa fa-comment"></i></a></li>
                    <li><a href="/home"><i class="glyphicon glyphicon-user"></i> {{ user.given_name }}  </a></li>
                    <li><a href="/dashboard"><i class="glyphicon glyphicon-th-list"></i> Dashboard</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group has-feedback">
                                <input type="text" id="search-bar" class="form-control" placeholder="Search for people, projects and skills"/>
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>

                        </form>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            {% for user in results %}
                <div class="panel panel-default shine">
                    <div class="panel-body nopadding">
                        <div class="row no-gutter">
                            <div class="col-lg-3 col-md-4">
                                <a href="#">
                                    <img src="../assets/images/no_cover.png" class="img-responsive img-rounded nopadding displayed" alt="Cover Photo">
                                </a>
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <div class="user_box">
                                    <div class="box_title">
                                        <a href="#">{{ user.id }}</a>
                                    </div>
                                    <div class="box_sub_title">
                                        Works at University of Tehran
                                    </div>
                                    <div class="box_sub_content">
                                        Studied Computer Hardware Engineering at University of Tehran '09
                                        Read Animal Farm, 1984 - George Orwell and Thus Spoke Zarathustra
                                        Listens to Camel, Gary Moore and HAGGARD
                                        98 mutual friends including Peyman Mahdian and Atiyeh Bayat
                                    </div>
                                    <div class="box_sub_title">
                                        Projects:
                                        <a href="http://connexus-beta.appspot.com/" target="_blank">Teammate</a> |
                                        <a href="http://connexus-beta.appspot.com/" target="_blank">Connexus</a>
                                    </div>
                                    <div class="user_box_btn">
                                        <a href="#" class="button button-rounded button-flat-highlight"><i class="glyphicon glyphicon-road"></i> Follow</a>
                                    </div>
                                    <div class="user_box_navigation">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="panel panel-default shine">
                <div class="panel-body nopadding">
                    <div class="row no-gutter">
                        <div class="col-lg-3 col-md-4">
                            <a href="#">
                                <img src="../assets/images/profile.jpg" class="img-responsive img-rounded nopadding displayed" alt="Cover Photo">
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="user_box">
                                <div class="box_title">
                                    <a href="#">Nima Dini</a>
                                </div>
                                <div class="box_sub_title">
                                    Works at University of Tehran
                                </div>
                                <div class="box_sub_content">
                                    Studied Computer Hardware Engineering at University of Tehran '09
                                    Read Animal Farm, 1984 - George Orwell and Thus Spoke Zarathustra
                                    Listens to Camel, Gary Moore and HAGGARD
                                    98 mutual friends including Peyman Mahdian and Atiyeh Bayat
                                </div>
                                <div class="box_sub_title">
                                    Projects:
                                    <a href="http://connexus-beta.appspot.com/" target="_blank">Teammate</a> |
                                    <a href="http://connexus-beta.appspot.com/" target="_blank">Connexus</a>
                                </div>
                                <div class="user_box_btn">
                                    <a href="#" class="button button-rounded button-flat-highlight"><i class="glyphicon glyphicon-road"></i> Follow</a>
                                    <img src="../assets/images/navigation.png" alt="nav">
                                </div>
                                <div class="user_box_navigation">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default filter">
                <div class="panel-heading">
                    <div style="font-size: 14px; font-weight: bold;"><i class="fa fa-filter"></i> Filters</div>
                </div>
                <div class="panel-body nopadding" style="overflow: visible;">
                    <table>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-info button-small dropdown-toggle" type="button" id="gender" data-toggle="dropdown">
                                        Add...
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu"  aria-labelledby="gender">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Male</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Female</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >Degree</td>
                            <td>
                                <div class="dropdown" id="degree" name="{{ current_deg }}">
                                    <button class="btn btn-info button-small dropdown-toggle" type="button" id="degree" data-toggle="dropdown">
                                        <label id="degree_label" style="font-weight: normal; width: 36px;">Add...</label>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu"  aria-labelledby="degree">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BS</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BA</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MS</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MA</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PhD</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default filter">
                <div class="panel-heading">
                    <div style="font-size: 14px; font-weight: bold;"><i class="fa fa-pie-chart"></i> Distribution </div>
                </div>

                <div class="panel-body">
                    <div class="col-lg-3 col-md-2" id="degree_guide" style="padding-top: 15px; margin-left: -20px;"></div>
                    <div class="col-lg-9 col-md-10 pull-right" style="margin-top: 5px;" id="chart" ></div>
                </div>
            </div>

            <div class="panel panel-default filter">
                <div class="panel-heading">
                    <div style="font-size: 14px; font-weight: bold;"><i class="fa fa-bar-chart"></i> Prices (USD/hr) </div>
                </div>

                <div class="panel-body">
                    <div class="col-lg-12 col-md-12" id="price"></div>
                </div>
            </div>
        </div>
        <div id="about"></div>
    </div>
    <div class="push"></div>
</div>
<footer class="footer">
    <div class="container">
        <p>
            Designed by <a href="http://nimadini.net" target="_blank">Nima Dini</a> -- Last Updated: December 2014
        </p>
        <div>
            <a href="#" data-toggle="modal" data-target="#info">About This Website</a>
        </div>
    </div>
</footer>
</body>
<script src="../assets/js/filters.js"></script>
<script src="../assets/js/d3.min.js"></script>
<script src="../assets/js/Donut3D.js"></script>
<script src="../assets/js/d3.tip.v0.6.3.js"></script>
<script>

    var salesData=[
        {label:"BS", color:"#3366CC"},
        {label:"BA", color:"#DC3912"},
        {label:"MS", color:"#FF9900"},
        {label:"MA", color:"#109618"},
        {label:"PhD", color:"#990099"}
    ];

    labels = ["BS", "BA", "MS", "MA", "PhD"];

    var svg = d3.select("#chart").append("svg").attr("width", 150).attr("height", 130).attr('class', 'ichart');

    svg.append("g").attr("id","quotesDonut");

    Donut3D.draw("quotesDonut", randomData(), 75, 60, 64, 56, 8, 0);

    function randomData(){
        return salesData.map(function(d){
            return {label:d.label, value:20, color:d.color};});
    }

    var color = d3.scale.ordinal()
            .range(["#3366CC", "#DC3912", "#FF9900", "#109618", "#990099"]);

    var legend = d3.select("#degree_guide").append("svg")
            .attr("class", "legend")
            .attr("width", 60)
            .attr("height", 100)
            .selectAll("g")
            .data(labels)
            .enter().append("g")
            .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
            .attr("width", 18)
            .attr("height", 18)
            .style("fill", color);

    legend.append("text")
            .attr("x", 24)
            .attr("y", 9)
            .attr("dy", ".35em")
            .text(function(d) { return d; });




    var margin = {top: 40, right: 20, bottom: 30, left: 20},
            width = 200 - margin.left - margin.right,
            height = 380 - margin.top - margin.bottom;

    //var formatPercent = d3.format(".0%");

    var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
            .range([height, 0]);

    var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

    var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
    //        .tickFormat(formatPercent);

    var tip = d3.tip()
            .attr('class', 'd3-tip')
            .offset([-10, 0])
            .html(function(d) {
                return "<strong>Price:</strong> <span style='color:lightblue'>" + d.frequency + " $/hr</span>";
            })

    var svg2 = d3.select("#price").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg2.call(tip);

    var _data = {};

    d3.tsv("statistics", type, function(error, data) {
        x.domain(data.map(function (d) {
            return d.letter;
        }));
        y.domain([0, d3.max(data, function (d) {
            return d.frequency;
        })]);

        svg2.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        svg2.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".61em")
                .style("text-anchor", "end")
                .text("$ Price");

        svg2.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function (d) {
                    return x(d.letter);
                })
                .attr("width", x.rangeBand())
                .attr("y", function (d) {
                    return y(d.frequency);
                })
                .attr("height", function (d) {
                    return height - y(d.frequency);
                })
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);
    });

        function type(d) {
            d.frequency = +d.frequency;
            return d;
        }
</script>
</html>