<div id="edu_add_panel" class="col-lg-12 col-md-12 col-sm-12">
    <form role="form" method="post">
        <div class="row">
            <div class="form-group col-lg-8 col-md-8 col-sm-8">
                <label>School<sup style="color: darkred;">*</sup></label>
                <input type="text" id="school" name="name" class="form-control" placeholder="MIT" required>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label>GPA</label>
                <input type="text" id="gpa" name="name" class="form-control" placeholder="4.0/4.0">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-8 col-md-8 col-sm-8">
                <label>Field of Study</label>
                <input type="text" id="major" name="name" class="form-control" placeholder="Software Engineering">
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label>Degree</label>
                <div class="dropdown">
                    <button class="btn btn-info button-small dropdown-toggle"  style="width: 100%; height: 36px; vertical-align: middle;" type="button" id="gender" data-toggle="dropdown">
                        <div id="degree">
                            BS <span class="caret"></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu" role="menu"  aria-labelledby="gender">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BS</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BA</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MS</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MA</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PhD</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" id="update_edu_btn" class="btn btn-primary"><i class="fa fa-check"></i> Save </button>
                <button onclick="remove_edu_add_panel();" type="button" id="cancel_edu_btn" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>