<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nima Dini">
    <title>Home</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-tags.css" rel="stylesheet">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/lightbox.css" rel="stylesheet">
    <link href="../assets/css/buttons.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/home.css" rel="stylesheet">
    <script src="../assets/js/jquery-2.1.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap-tags.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/lightbox.min.js"></script>
    <script src="../assets/js/mustache.js"></script>
    <script src="../assets/js/home/util.js"></script>
    {% raw %}
        <script language="javascript" type="text/javascript">
            var in_progress = 0;

            $(document).ready(function() {
                anchor('#edu_sortable', 'education', '');
                anchor('#work_sortable', 'workexperience', 'extra');
                anchor('#projects_sortable', 'project', 'extra');
                anchor('#honor_sortable', 'honor', 'extra');
                anchor('#languages_sortable', 'languages', 'extra');

                var $tags = $('#current-tag-list');
                var skills = $tags.attr('name');

                if (skills == '')
                    $tags.css('display', 'none');
                else
                    skills_tags('#current-tag-list', true, skills.split(','));

                var winW = $(window).width() - 180;
                var winH = $(window).height() - 100;
                var $show_resume = $('#show_resume');
                $("#dialog").append($('<iframe id="dialog_iframe" />').attr("src", $show_resume.attr('name')).css({
                    'width': '100%',
                    'height': winH - 80
                })).dialog({
                    autoOpen: false,
                    minWidth: winW,
                    minHeight: winH,
                    modal: true,
                    resizable: true,
                    title: $show_resume.text()
                });
                function addUser() {
                }

                var form, name = $("#name"),
                        email = $("#email"),
                        password = $("#password"),
                        allFields = $([]).add(name).add(email).add(password);
                var msg_dialog = $("#msg-dialog").dialog({
                    autoOpen: false,
                    height: 405,
                    width: 720,
                    modal: true,
                    buttons: {
                        "Send": addUser,
                        "Cancel": function () {
                            msg_dialog.dialog("close");
                        }
                    },
                    close: function () {
                    }
                });

                $("#show_resume").click(function (e) {
                    e.preventDefault();
                    $("#dialog").dialog("open");
                });

                $("#message_btn").click(function (e) {
                    e.preventDefault();
                    $("#msg-dialog").dialog("open");
                });

                $('.my_tooltip').tooltip({
                    track: true,
                    content: function () {
                        return $(this).prop('title');
                    }
                });

                $('.home-content-wrapper').hover(function () {
                    if (in_progress == 0) {
                        $(this).find('.edit').css('visibility', 'visible');
                    }
                }, function () {
                    $(this).find('.edit').css('visibility', 'hidden');
                });

                $('.home-element').hover(function () {
                    if (in_progress == 0)
                        $(this).find('.add').css('visibility', 'visible');
                }, function () {
                    $(this).find('.add').css('visibility', 'hidden');
                });

                $('#about').load('about');

                $('#upload_link').on('click', function (e) {
                    e.preventDefault();
                    $('#selected_file').click();
                });

                $('#upload_profile_link').on('click', function (e) {
                    e.preventDefault();
                    $('#selected_file_profile').click();
                });
            });
        </script>
    {% endraw %}
</head>
<body>
<div class="wrapper">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">Teammate</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"><i class="fa fa-comment"></i></a></li>
                <li><a href="/home"><i class="glyphicon glyphicon-user"></i> {{ user.given_name }} </a></li>
                <li><a href="/dashboard"><i class="glyphicon glyphicon-th-list"></i> Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group has-feedback">
                            <input type="text" id="search-bar" class="form-control" placeholder="Search for people, projects and skills"/>
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="panel panel-default">
    <div class="panel-body nopadding">
        <div class="row no-gutter row-eq-height profile_background">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="cover_image" class="CoverImage FlexEmbed FlexEmbed--16by9"
                     style="background-image:url({{user.get_cover_url()}})"
                        >
                    <div style="margin: 15px;">
                        {% if not owner %}
                            <a href="#" class="button button-rounded button-flat-highlight"><i class="glyphicon glyphicon-road"></i> Follow</a> &nbsp;
                            <a href="#" id="message_btn" class="button button-rounded button-flat-royal"><i class="glyphicon glyphicon-envelope"></i> Message</a>
                        {% endif %}
                        {% if owner %}
                            <div id="cover_upload_btn" style="float: right; margin-bottom: 10px;">
                                <a id="upload_link" class="my_tooltip" style="cursor: pointer;"
                                   title="Change Cover Picture">
                                    <i class="fa fa-camera fa-2x"></i>
                                </a>
                                <a id="spinner_cover" style="cursor: pointer; text-decoration: none; display: none;" class="text-danger">
                                    <i class="fa fa-spinner fa-2x fa-spin"></i>
                                </a>
                                <a id="cover_rej" class="my_tooltip" style="cursor: pointer; text-decoration: none; display: none;"
                                   title="Cancel">
                                    <i class="fa fa-times-circle fa-3x text-danger"></i>
                                </a>
                                <a id="cover_acc" class="my_tooltip" style="cursor: pointer; display: none;"
                                   title="Confirm">
                                    <i class="fa fa-check-circle fa-3x text-success"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 profile-label" style="margin: auto; padding-top: 30px; height: 100%; vertical-align: middle;">
                <div class="row">
                    <a id ="profile_wrapper" href="{{user.get_profile_url()}}" data-lightbox="image-1" data-title="Profile Picture">
                        <img id ="profile_picture" src="{{user.get_profile_url()}}" class="img-circle col-centered profile-img" alt="Pic" />
                    </a>
                    <div class="profile_name"><a href="#">{{ user.given_name }} {{ user.surname }}</a></div>
                    <div class="profile_sub_info">No Followers | {{ user.get_views_num_for_print() }} Views</div>
                    <div class="profile_sub_info_small" id="loc">{{ user.get_location() }}</div>
                </div>
                {% if owner %}
                    <div class="row" style="margin-top: 20px;">
                        <div style="text-align: center; cursor: pointer;">
                            <a class="my_tooltip" style="cursor: pointer;" title="Change Profile Picture"
                               id="upload_profile_link">
                                <i class="fa fa-user"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div id="dialog"></div>
<div id="msg-dialog" title="Message"></div>
<form id="upload_cover_form" role="form" action="{{cover_upload_url}}">
    <div style="display: none;">
        <div><input id="selected_file" type="file" data-filename-placement="inside" title="Choose a file..." name="img"></div>
    </div>
</form>
<form id="upload_profile_form" role="form" action="{{profile_img_upload_url}}">
    <div style="display: none;">
        <div><input id="selected_file_profile" type="file" data-filename-placement="inside" title="Choose a file..." name="img"></div>
    </div>
</form>
<form id="upload_resume_form" role="form" action="{{resume_upload_url}}">
    <div style="display: none;">
        <div><input id="selected_resume" type="file" data-filename-placement="inside" title="Choose a file..." name="img"></div>
    </div>
</form>
<div class="row row-eq-height">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="panel panel-default">
<div class="panel-body nopadding">
<div class="row">
<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <div class="home-element">
        <div class="home-sub-title">
            <i class="fa fa-graduation-cap"></i> Education
            {% if owner %}
                <div class="info-msg"></div>
                <div id ="edu_add_link" class="add"><a href="#"><i class="fa fa-plus"></i> Add</a></div>
            {% endif %}
        </div>
        <div id="edu_sortable">
            <div id="edu"></div>
            {% for edu in user.eds %}
                <div>
                    <div name="{{ edu.id }}" class="home-content-wrapper">
                        <div class="home-content">
                            {{edu.school}} &nbsp;
                            {% if owner %}
                                <i class="fa fa-anchor handle edit" style="visibility: hidden;"></i> &nbsp;
                                <a href="#" class="edit edu_edit_link"><i class="fa fa-pencil"></i> Edit </a>
                            {% endif %}
                        </div>
                        <div class="home-content-small">
                            {{edu.degree}} - {{edu.major}} | {{edu.gpa}}
                        </div>

                    </div>
                    <div></div>
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div class="home-element">
        <div class="home-sub-title">
            <i class="fa fa-suitcase"></i> Work Experience
            {% if owner %}
                <div id="info-msg-work"></div>
                <div id ="work_link" class="add"><a href="#"><i class="fa fa-plus"></i> Add</a></div>
            {% endif %}
        </div>
        <div id="work_sortable">
            <div id="work"></div>
            {% for work in user.works %}
                <div>
                    <div name="{{ work.id }}" class="home-content-wrapper">
                        <div class="home-content">
                            {{ work.title }} at {{ work.company }} &nbsp;
                            {% if owner %}
                                <i class="fa fa-anchor handle edit" style="visibility: hidden;"></i> &nbsp;
                                <a href="#" class="edit work_edit_link"><i class="fa fa-pencil"></i> Edit </a>
                            {% endif %}
                        </div>
                        <div class="home-content-small">
                            {{ work.desc }}
                        </div>
                    </div>
                    <div></div>
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div class="home-element">
        <div class="home-sub-title">
            <i class="fa fa-trophy"></i> Honors and Awards
            {% if owner %}
                <div id="info-msg-honor"></div>
                <div id ="honor_link" class="add"><a href="#"><i class="fa fa-plus"></i> Add</a></div>
            {% endif %}
        </div>
        <div id="honor_sortable">
            <div id="honor"></div>
            {% for honor in user.honors %}
                <div>
                    <div name="{{ honor.id }}" class="home-content-wrapper">
                        <div class="home-content">
                            {{ honor.title }} &nbsp;
                            {% if owner %}
                                <i class="fa fa-anchor handle edit" style="visibility: hidden;"></i> &nbsp;
                                <a href="#" class="edit honor_edit_link"><i class="fa fa-pencil"></i> Edit </a>
                            {% endif %}
                        </div>
                        <div class="home-content-small">
                            {{ honor.issued_by }}
                        </div>
                        <div class="home-content-tiny">
                            {{ honor.year }}
                        </div>
                    </div>
                    <div></div>
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div class="home-element">
        <div class="home-sub-title">
            <i class="fa fa-file-text"></i> Sample Projects
            {% if owner %}
                <div id="info-msg-projects"></div>
                <div id="projects_link" class="add"><a href="#"><i class="fa fa-plus"></i> Add</a></div>
            {% endif %}
        </div>
        <div id="projects_sortable">
            <div id="sample-projects"></div>
            {% for project in user.projects %}
                <div>
                    <div name="{{ project.id }}" class="home-content-wrapper">
                        {% if project.link %}
                            <div class="home-content">
                                <a href="{{ project.link }}" target="_blank">{{ project.title }}</a> | {{ project.role }} &nbsp;
                                {% if owner %}
                                    <i class="fa fa-anchor handle edit" style="visibility: hidden;"></i> &nbsp;
                                    <a href="#" class="edit projects_edit_link"><i class="fa fa-pencil"></i> Edit </a>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="home-content">
                                {{ project.title }} | {{ project.role }} &nbsp;
                                {% if owner %}
                                    <i class="fa fa-anchor handle edit" style="visibility: hidden;"></i> &nbsp;
                                    <a href="#" class="edit projects_edit_link"><i class="fa fa-pencil"></i> Edit </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="home-content-small">
                            {{ project.desc }}
                        </div>
                        <div class="home-content-tiny">
                            {{ project.year }}
                        </div>
                    </div>
                    <div></div>
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>
    <div class="home-element">
        <div class="home-sub-title">
            <i class="fa fa-language"></i> Languages
            {% if owner %}
                <div id="info-msg-languages"></div>
                <div id="languages_link" class="add"><a href="#"><i class="fa fa-plus"></i> Add</a></div>
            {% endif %}
        </div>
        <div id="languages_sortable">
            <div id="language"></div>
            {% for lang in user.languages %}
                <div>
                    <div name="{{ lang.id }}" class="home-content-wrapper">
                        <div class="home-content">
                            {{ lang.name }}: {{ lang.proficiency }} &nbsp;
                            {% if owner %}
                                <i class="fa fa-anchor handle edit" style="visibility: hidden;"></i> &nbsp;
                                <a href="#" class="edit lang_edit_link"><i class="fa fa-pencil"></i> Edit </a>
                            {% endif %}
                        </div>
                    </div>
                    <div></div>
                </div>
            {% endfor %}
        </div>
        <hr>
    </div>

    <div class="home-element">
        <div class="home-sub-title">
            <i class="fa fa-code"></i> Skills
            {% if owner %}
                <div id="info-msg-skills"></div>
                <div id="skills_add_link" class="add"><a href="#"><i class="fa fa-plus"></i> Add or Modify</a></div>
            {% endif %}
        </div>
        <div class="home-content-wrapper">
            <div class="home-content">
                <div id="tag_anchor"></div>
                <div id="current-tag-list" name="{{ skills }}" style="padding-bottom: 24px;" class="tag-list"></div>
                <div id="skills">
                </div>
            </div>
        </div>
    </div>
    <div style="height: 30px;"></div>
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <div class="home-element">
        <div class="home-sub-title">
            <i class="fa fa-paperclip"></i> References
            {% if owner %}
                <div class="info-msg-ref"></div>
                <a class="add references_panel" href="#"><i class="fa fa-pencil"></i> Add or Modify </a>
            {% endif %}
        </div>
        <div class="home-content">
            <div class="row">
                <div id="references"></div>
            </div>
            <div class="row">
                <table>
                    <col width="70">
                    <tr id="anchor1" style="display: none;"></tr>
                    {% if user.reference.phone %}
                        <tr>
                            <td>
                                <div class="phone">
                                </div>
                            </td>
                            <td id="phone_elem">{{ user.reference.phone }}</td>
                        </tr>
                    {% endif %}
                    <tr id="anchor2" style="display: none;"></tr>
                    {% if user.reference.email %}
                        <tr>
                            <td>
                                <div class="email">
                                </div>
                            </td>
                            <td id="email_elem"><a href="mailto:{{ user.reference.email }}">{{ user.reference.email }}</a></td>
                        </tr>
                    {% endif %}
                    <tr id="anchor3" style="display: none;"></tr>
                    {% if user.reference.skype %}
                        <tr>
                            <td>
                                <div class="skype">
                                </div>
                            </td>
                            <td id="skype_elem"><a href="callto:{{ user.reference.skype }}">{{ user.reference.skype }}</a></td>
                        </tr>
                    {% endif %}
                    <tr id="anchor4" style="display: none;"></tr>
                    {% if user.reference.github %}
                        <tr>
                            <td>
                                <div class="github">
                                </div>
                            </td>
                            <td id="github_elem"><a href="{{ user.reference.github }}" target="_blank">{{ user.reference.github }}</a></td>
                        </tr>
                    {% endif %}
                    <tr id="anchor5" style="display: none;"></tr>
                    {% if user.reference.linkedin %}
                        <tr>
                            <td>
                                <div class="linked_in">
                                </div>
                            </td>
                            <td id="linkedin_elem"><a href="{{ user.reference.linkedin }}" target="_blank">{{ user.reference.linkedin }}</a></td>
                        </tr>
                    {% endif %}
                    <tr id="_anchor_" style="display: none;"></tr>
                    {% if user.reference.has_resume() %}
                        <tr>
                            <td>
                                <div class="resume">
                                </div>
                            </td>
                            <td id="resume_elem"><a id="show_resume" name="{{ user.reference.get_resume_url() }}" href="#" >{{ user.reference.resume.name }}</a></td>
                        </tr>
                    {% endif %}
                    <tr id="anchor6" style="display: none;"></tr>
                    {% if user.reference.website %}
                        <tr>
                            <td>
                                <div class="website">
                                </div>
                            </td>
                            <td id="website_elem"><a href="{{ user.reference.website }}" target="_blank">{{ user.reference.website }}</a></td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <hr>

        </div>
    </div>
    <div class="home-element" style="margin-top: -15px;">
        <div class="home-sub-title">
            <i class="fa fa-thumbs-o-up"></i> Terms
            {% if owner %}
                <div id="info-msg-terms"></div>
                <a class="add terms_panel" href="#"><i class="fa fa-pencil"></i> Add or Modify </a>
            {% endif %}
        </div>

        <div class="home-content">
            <div class="row">
                <div id="terms"></div>
            </div>
            <div style="padding-right: 10px;">
                <div id="shoud_know_content">
                    {% if user.term.should_know %}
                        <p>
                            <i class="fa fa-users"></i> <strong>You should know:</strong> {{ user.term.should_know }}
                        </p>
                    {% endif %}
                </div>
                <div id="availability_content">
                    {% if user.term.availability %}
                        <p>
                            <i class="fa fa-clock-o"></i> <strong>Availability:</strong> {{ user.term.availability }} hrs / w
                        </p>
                    {% endif %}
                </div>
                <div id="price_content">
                    {% if user.term.price %}
                        <p>
                            <i class="fa fa-usd"></i> <strong>Price:</strong> {{ user.term.price }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="about"></div>
</div>
<div class="push"></div>
<footer class="footer">
    <div class="container">
        <p>
            Designed by <a href="http://nimadini.net" target="_blank">Nima Dini</a> -- Last Updated: December 2014
        </p>
        <div>
            <a href="#" data-toggle="modal" data-target="#info">About This Website</a>
        </div>
    </div>
</footer>
</body>
{% if owner %}
    <script src="../assets/js/home/education.js"></script>
    <script src="../assets/js/home/references_upload.js"></script>
    <script src="../assets/js/home/workexperience.js"></script>
    <script src="../assets/js/home/skills.js"></script>
    <script src="../assets/js/home/honors.js"></script>
    <script src="../assets/js/home/projects.js"></script>
    <script src="../assets/js/home/languages.js"></script>
    <script src="../assets/js/home/terms.js"></script>
{% endif %}
</html>