<div id="languages_panel" class="col-lg-12 col-md-12 col-sm-12" style="overflow: visible;">
    <form role="form" method="post">
        <div class="row">
            <div class="form-group col-lg-7 col-md-7 col-sm-7">
                <label>Language<sup style="color: darkred;">*</sup></label>
                <input type="text" id="lang_name" class="form-control warning" placeholder="English">
            </div>
            <div class="form-group col-lg-5 col-md-5 col-sm-5">
                <label>Proficiency<sup style="color: darkred;">*</sup></label>
                <div class="dropdown">
                    <button class="btn btn-info button-small dropdown-toggle" style="width: 100%; height: 36px; vertical-align: middle;" type="button" data-toggle="dropdown">
                        <div id="proficiency">
                            Select <span class="caret"></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="proficiency">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Native</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Advanced</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">High</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Intermediate</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Elementary</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" id="update_language_btn" class="btn btn-primary"><i class="fa fa-check"></i> Save </button>
                <button style="display: none;" type="button" id="remove_language_btn" class="btn btn-danger"><i class="fa fa-trash"></i> Delete </button>
                <button onclick="remove_lang_panel();" type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>