<div id="skills_panel" class="col-lg-12 col-md-12 col-sm-12">
    <form role="form" method="post">
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                <div id="my-tag-list" class="tag-list"></div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button type="button" id="update_skills_btn" class="btn btn-primary"><i class="fa fa-check"></i> Save </button>
                <button onclick="remove_skills_add_panel();" type="button" id="cancel_skills_btn" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </form>
</div>